<a href="https://colab.research.google.com/github/nandakumar92/datacamp/blob/main/Streamlined_Data_Ingestion_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [19]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',')

In [6]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [10]:
## modify input data
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',', nrows=1000, skiprows=20)

In [13]:
## skiprwos but include header
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',', nrows=1000, skiprows=range(1,20))

In [14]:
df.head()

  show_id  ...                                        description
0     s20  ...  Mixing old footage with interviews, this is th...
1     s21  ...  After accidentally connecting over the Interne...
2     s22  ...  A taxi driver, a gangster and an athlete strug...
3     s23  ...  A successful writer returns to the town that l...
4     s24  ...  When a middle-aged divorcee returns to Kolkata...

[5 rows x 12 columns]

In [16]:
## use cols
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',', nrows=1000, skiprows=range(1,20),usecols=['title','rating'])

In [17]:
df.head()

                  title rating
0                   '89  TV-PG
1  ​​Kuch Bheege Alfaaz  TV-14
2          ​Goli Soda 2  TV-14
3    ​Maj Rati ​​Keteki  TV-14
4           ​Mayurakshi  TV-14

In [26]:
## custom column names
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',', nrows=1000, skiprows=range(1,20))

In [27]:
## specifiy dtype for columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1000 non-null   object
 1   type          1000 non-null   object
 2   title         1000 non-null   object
 3   director      743 non-null    object
 4   cast          918 non-null    object
 5   country       945 non-null    object
 6   date_added    998 non-null    object
 7   release_year  1000 non-null   int64
 8   rating        999 non-null    object
 9   duration      1000 non-null   object
 10  listed_in     1000 non-null   object
 11  description   1000 non-null   object
dtypes: int64(1), object(11)
memory usage: 93.9+ KB

In [35]:
## use dtype to speficy string columns and parse dates for datetime columns
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',',dtype={'release_year':'str'},parse_dates=['date_added'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   datetime64[ns]
 7   release_year  7787 non-null   object
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 730.2+ KB

In [53]:
## specify custom missing columns. Pandas by default reads null or NA columns as missing values.
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',',dtype={'release_year':'str'}\
               ,parse_dates=['date_added'],na_values={'show_id':'s2'})

In [56]:
## we can then use is na to filter out these missing values
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1     NaN  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [57]:
### load data when there are errors, ie skip error or rows with not matching columns
df=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',',error_bad_lines=False)

In [141]:
## to json column orient
df2=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',',error_bad_lines=False).to_json(orient='columns')

In [138]:
## to json row orient
df2=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/netflix/netflix_titles.csv',sep=',',error_bad_lines=False).to_json(orient='records')

In [73]:
pd.read_json(df2,orient='records').head(1)

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...

[1 rows x 12 columns]

In [78]:
## flatten nested json
from pandas.io.json import json_normalize
import json

In [75]:
df=pd.read_json('/content/gdrive/MyDrive/Colab/Data/nested_json.json')

In [79]:
with open('/content/gdrive/MyDrive/Colab/Data/nested_json.json') as f:
    d = json.load(f)

In [94]:
df=json_normalize(d['programs'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [95]:
df.head()

    season  ...                                    id
0  1842-43  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
1  1842-43  ...  c7b2b95c-5e0b-431c-a340-5b37fc860b34
2  1842-43  ...  894e1a52-1ae5-4fa7-aec0-b99997555a37
3  1842-43  ...  34ec2c2b-3297-4716-9831-b538310462b7
4  1843-44  ...  610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

[5 rows x 6 columns]

In [108]:
data = [{'state': 'Florida',
...          'shortname': 'FL',
...          'info': {
...               'governor': '1'
...          },
...          'counties': [{'name': 'Dade', 'population': 12345},
...                      {'name': 'Broward', 'population': 40000},
...                      {'name': 'Palm Beach', 'population': 60000}]},
...         {'state': 'Ohio',
...          'shortname': 'OH',
...          'info': {
...               'governor': '2',
                  'yoe':12
...          },
...          'counties': [{'name': 's', 'population': 1234},
...                       {'name': 'Cuyahoga', 'population': 1337}]}]

In [109]:
df=json_normalize(data)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

     state shortname  ... info.governor info.yoe
0  Florida        FL  ...             1      NaN
1     Ohio        OH  ...             2     12.0

[2 rows x 5 columns]

In [110]:
## by default . parameter is used to indicate levels, use sep to change to _
df=json_normalize(data,sep='_')
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

     state shortname  ... info_governor info_yoe
0  Florida        FL  ...             1      NaN
1     Ohio        OH  ...             2     12.0

[2 rows x 5 columns]

In [111]:
data={
  "tracks": [{
      "album": {
        "album_type": "album",
        "artists": [{
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/7wyRA7deGRxozTyBc6QXPe"
            },
            "href": "https://api.spotify.com/v1/artists/7wyRA7deGRxozTyBc6QXPe",
            "id": "7wyRA7deGRxozTyBc6QXPe",
            "name": "Stephen Malkmus & The Jicks",
            "type": "artist",
            "uri": "spotify:artist:7wyRA7deGRxozTyBc6QXPe"
          },
          {
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/0WISkx0PwT6lYWdPqKUJY8"
            },
            "href": "https://api.spotify.com/v1/artists/0WISkx0PwT6lYWdPqKUJY8",
            "id": "0WISkx0PwT6lYWdPqKUJY8",
            "name": "Stephen Malkmus",
            "type": "artist",
            "uri": "spotify:artist:0WISkx0PwT6lYWdPqKUJY8"
          },
          {
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/7uStwCeP54Za8gXUFCf5L7"
            },
            "href": "https://api.spotify.com/v1/artists/7uStwCeP54Za8gXUFCf5L7",
            "id": "7uStwCeP54Za8gXUFCf5L7",
            "name": "The Jicks",
            "type": "artist",
            "uri": "spotify:artist:7uStwCeP54Za8gXUFCf5L7"
          }
        ],
        "available_markets": ["AR",
          "BO",
          "BR",
          "CA",
          "CL",
          "CO",
          "CR",
          "EC",
          "GT",
          "HK",
          "HN",
          "ID",
          "MX",
          "MY",
          "NI",
          "PA",
          "PE",
          "PH",
          "PY",
          "SG",
          "SV",
          "TH",
          "TW",
          "US",
          "UY",
          "VN"
        ],
        "external_urls": {
          "spotify": "https://open.spotify.com/album/6pWpb4IdPu9vp9mOdh5DjY"
        },
        "href": "https://api.spotify.com/v1/albums/6pWpb4IdPu9vp9mOdh5DjY",
        "id": "6pWpb4IdPu9vp9mOdh5DjY",
        "images": [{
            "height": 640,
            "url": "https://i.scdn.co/image/918fdb6fdffccf2bd2dd1a1a93136000f8cf9bd3",
            "width": 640
          },
          {
            "height": 300,
            "url": "https://i.scdn.co/image/fb39290ebca6fac424d4a40611a7e0d1146c5f88",
            "width": 300
          },
          {
            "height": 64,
            "url": "https://i.scdn.co/image/873da4a0a21acd96e4a0036c9ecd0580b62652d4",
            "width": 64
          }
        ],
        "name": "Real Emotional Trash",
        "release_date": "2008-03-04",
        "release_date_precision": "day",
        "type": "album",
        "uri": "spotify:album:6pWpb4IdPu9vp9mOdh5DjY"
      },
      "artists": [{
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/7wyRA7deGRxozTyBc6QXPe"
          },
          "href": "https://api.spotify.com/v1/artists/7wyRA7deGRxozTyBc6QXPe",
          "id": "7wyRA7deGRxozTyBc6QXPe",
          "name": "Stephen Malkmus & The Jicks",
          "type": "artist",
          "uri": "spotify:artist:7wyRA7deGRxozTyBc6QXPe"
        },
        {
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/0WISkx0PwT6lYWdPqKUJY8"
          },
          "href": "https://api.spotify.com/v1/artists/0WISkx0PwT6lYWdPqKUJY8",
          "id": "0WISkx0PwT6lYWdPqKUJY8",
          "name": "Stephen Malkmus",
          "type": "artist",
          "uri": "spotify:artist:0WISkx0PwT6lYWdPqKUJY8"
        },
        {
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/7uStwCeP54Za8gXUFCf5L7"
          },
          "href": "https://api.spotify.com/v1/artists/7uStwCeP54Za8gXUFCf5L7",
          "id": "7uStwCeP54Za8gXUFCf5L7",
          "name": "The Jicks",
          "type": "artist",
          "uri": "spotify:artist:7uStwCeP54Za8gXUFCf5L7"
        }
      ],
      "available_markets": ["AR",
        "BO",
        "BR",
        "CA",
        "CL",
        "CO",
        "CR",
        "EC",
        "GT",
        "HK",
        "HN",
        "ID",
        "MX",
        "MY",
        "NI",
        "PA",
        "PE",
        "PH",
        "PY",
        "SG",
        "SV",
        "TH",
        "TW",
        "US",
        "UY",
        "VN"
      ],
      "disc_number": 1,
      "duration_ms": 608826,
      "explicit": False,
      "external_ids": {
        "isrc": "USMTD0877204"
      },
      "external_urls": {
        "spotify": "https://open.spotify.com/track/0BDYBajZydY54OTgQsH940"
      },
      "href": "https://api.spotify.com/v1/tracks/0BDYBajZydY54OTgQsH940",
      "id": "0BDYBajZydY54OTgQsH940",
      "is_local": False,
      "name": "Real Emotional Trash",
      "popularity": 21,
      "preview_url": "https://p.scdn.co/mp3-preview/4fcbcd5a99fc7590d5819849e1aad3eff981dc75?cid=be22fd00039241bc96d161a63876b54c",
      "track_number": 4,
      "type": "track",
      "uri": "spotify:track:0BDYBajZydY54OTgQsH940"
    },
    {
      "album": {
        "album_type": "album",
        "artists": [{
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/7wyRA7deGRxozTyBc6QXPe"
            },
            "href": "https://api.spotify.com/v1/artists/7wyRA7deGRxozTyBc6QXPe",
            "id": "7wyRA7deGRxozTyBc6QXPe",
            "name": "Stephen Malkmus & The Jicks",
            "type": "artist",
            "uri": "spotify:artist:7wyRA7deGRxozTyBc6QXPe"
          },
          {
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/0WISkx0PwT6lYWdPqKUJY8"
            },
            "href": "https://api.spotify.com/v1/artists/0WISkx0PwT6lYWdPqKUJY8",
            "id": "0WISkx0PwT6lYWdPqKUJY8",
            "name": "Stephen Malkmus",
            "type": "artist",
            "uri": "spotify:artist:0WISkx0PwT6lYWdPqKUJY8"
          },
          {
            "external_urls": {
              "spotify": "https://open.spotify.com/artist/7uStwCeP54Za8gXUFCf5L7"
            },
            "href": "https://api.spotify.com/v1/artists/7uStwCeP54Za8gXUFCf5L7",
            "id": "7uStwCeP54Za8gXUFCf5L7",
            "name": "The Jicks",
            "type": "artist",
            "uri": "spotify:artist:7uStwCeP54Za8gXUFCf5L7"
          }
        ],
        "available_markets": ["AR",
          "BO",
          "BR",
          "CA",
          "CL",
          "CO",
          "CR",
          "EC",
          "GT",
          "HK",
          "HN",
          "ID",
          "MX",
          "MY",
          "NI",
          "PA",
          "PE",
          "PH",
          "PY",
          "SG",
          "SV",
          "TH",
          "TW",
          "US",
          "UY",
          "VN"
        ],
        "external_urls": {
          "spotify": "https://open.spotify.com/album/6pWpb4IdPu9vp9mOdh5DjY"
        },
        "href": "https://api.spotify.com/v1/albums/6pWpb4IdPu9vp9mOdh5DjY",
        "id": "6pWpb4IdPu9vp9mOdh5DjY",
        "images": [{
            "height": 640,
            "url": "https://i.scdn.co/image/918fdb6fdffccf2bd2dd1a1a93136000f8cf9bd3",
            "width": 640
          },
          {
            "height": 300,
            "url": "https://i.scdn.co/image/fb39290ebca6fac424d4a40611a7e0d1146c5f88",
            "width": 300
          },
          {
            "height": 64,
            "url": "https://i.scdn.co/image/873da4a0a21acd96e4a0036c9ecd0580b62652d4",
            "width": 64
          }
        ],
        "name": "Real Emotional Trash",
        "release_date": "2008-03-04",
        "release_date_precision": "day",
        "type": "album",
        "uri": "spotify:album:6pWpb4IdPu9vp9mOdh5DjY"
      },
      "artists": [{
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/7wyRA7deGRxozTyBc6QXPe"
          },
          "href": "https://api.spotify.com/v1/artists/7wyRA7deGRxozTyBc6QXPe",
          "id": "7wyRA7deGRxozTyBc6QXPe",
          "name": "Stephen Malkmus & The Jicks",
          "type": "artist",
          "uri": "spotify:artist:7wyRA7deGRxozTyBc6QXPe"
        },
        {
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/0WISkx0PwT6lYWdPqKUJY8"
          },
          "href": "https://api.spotify.com/v1/artists/0WISkx0PwT6lYWdPqKUJY8",
          "id": "0WISkx0PwT6lYWdPqKUJY8",
          "name": "Stephen Malkmus",
          "type": "artist",
          "uri": "spotify:artist:0WISkx0PwT6lYWdPqKUJY8"
        },
        {
          "external_urls": {
            "spotify": "https://open.spotify.com/artist/7uStwCeP54Za8gXUFCf5L7"
          },
          "href": "https://api.spotify.com/v1/artists/7uStwCeP54Za8gXUFCf5L7",
          "id": "7uStwCeP54Za8gXUFCf5L7",
          "name": "The Jicks",
          "type": "artist",
          "uri": "spotify:artist:7uStwCeP54Za8gXUFCf5L7"
        }
      ],
      "available_markets": ["AR",
        "BO",
        "BR",
        "CA",
        "CL",
        "CO",
        "CR",
        "EC",
        "GT",
        "HK",
        "HN",
        "ID",
        "MX",
        "MY",
        "NI",
        "PA",
        "PE",
        "PH",
        "PY",
        "SG",
        "SV",
        "TH",
        "TW",
        "US",
        "UY",
        "VN"
      ],
      "disc_number": 1,
      "duration_ms": 222706,
      "explicit": False,
      "external_ids": {
        "isrc": "USMTD0877203"
      },
      "external_urls": {
        "spotify": "https://open.spotify.com/track/7fdUqrzb8oCcIoKvFuzMrs"
      },
      "href": "https://api.spotify.com/v1/tracks/7fdUqrzb8oCcIoKvFuzMrs",
      "id": "7fdUqrzb8oCcIoKvFuzMrs",
      "is_local": False,
      "name": "Cold Son",
      "popularity": 25,
      "preview_url": "https://p.scdn.co/mp3-preview/4cf4e21727def47097e27d30de16ffe9f99b7774?cid=be22fd00039241bc96d161a63876b54c",
      "track_number": 3,
      "type": "track",
      "uri": "spotify:track:7fdUqrzb8oCcIoKvFuzMrs"
    }
  ]
}

In [112]:
data.keys()

dict_keys(['tracks'])

In [123]:
df=json_normalize(data['tracks'],sep='_',max_level=0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   album              2 non-null      object
 1   artists            2 non-null      object
 2   available_markets  2 non-null      object
 3   disc_number        2 non-null      int64
 4   duration_ms        2 non-null      int64
 5   explicit           2 non-null      bool
 6   external_ids       2 non-null      object
 7   external_urls      2 non-null      object
 8   href               2 non-null      object
 9   id                 2 non-null      object
 10  is_local           2 non-null      bool
 11  name               2 non-null      object
 12  popularity         2 non-null      int64
 13  preview_url        2 non-null      object
 14  track_number       2 non-null      int64
 15  type               2 non-null      object
 16  uri                2 non-null      object
dtypes: bool(2), int64(4), object(11)
memory usage: 372.0+ bytes

In [125]:
df.loc[0]

album                {'album_type': 'album', 'artists': [{'external...
artists              [{'external_urls': {'spotify': 'https://open.s...
available_markets    [AR, BO, BR, CA, CL, CO, CR, EC, GT, HK, HN, I...
disc_number                                                          1
duration_ms                                                     608826
explicit                                                         False
external_ids                                  {'isrc': 'USMTD0877204'}
external_urls        {'spotify': 'https://open.spotify.com/track/0B...
href                 https://api.spotify.com/v1/tracks/0BDYBajZydY5...
id                                              0BDYBajZydY54OTgQsH940
is_local                                                         False
name                                              Real Emotional Trash
popularity                                                          21
preview_url          https://p.scdn.co/mp3-preview/4fcbcd5a99fc7590...
track_number                                                         4
type                                                             track
uri                               spotify:track:0BDYBajZydY54OTgQsH940
Name: 0, dtype: object

In [130]:
## maxlevel 1 , no maxlevel will normalize all levels
df=json_normalize(data['tracks'],sep='_',max_level=1)
df.loc[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

artists                         [{'external_urls': {'spotify': 'https://open.s...
available_markets               [AR, BO, BR, CA, CL, CO, CR, EC, GT, HK, HN, I...
disc_number                                                                     1
duration_ms                                                                608826
explicit                                                                    False
href                            https://api.spotify.com/v1/tracks/0BDYBajZydY5...
id                                                         0BDYBajZydY54OTgQsH940
is_local                                                                    False
name                                                         Real Emotional Trash
popularity                                                                     21
preview_url                     https://p.scdn.co/mp3-preview/4fcbcd5a99fc7590...
track_number                                                                    4
type                                                                        track
uri                                          spotify:track:0BDYBajZydY54OTgQsH940
album_album_type                                                            album
album_artists                   [{'external_urls': {'spotify': 'https://open.s...
album_available_markets         [AR, BO, BR, CA, CL, CO, CR, EC, GT, HK, HN, I...
album_external_urls             {'spotify': 'https://open.spotify.com/album/6p...
album_href                      https://api.spotify.com/v1/albums/6pWpb4IdPu9v...
album_id                                                   6pWpb4IdPu9vp9mOdh5DjY
album_images                    [{'height': 640, 'url': 'https://i.scdn.co/ima...
album_name                                                   Real Emotional Trash
album_release_date                                                     2008-03-04
album_release_date_precision                                                  day
album_type                                                                  album
album_uri                                    spotify:album:6pWpb4IdPu9vp9mOdh5DjY
external_ids_isrc                                                    USMTD0877204
external_urls_spotify           https://open.spotify.com/track/0BDYBajZydY54OT...
Name: 0, dtype: object

In [131]:
## using record path and meta to flatten nested [] within json and use meta to include additional columns needed from larger object
df.loc[0]['album_artists']

[{'external_urls': {'spotify': 'https://open.spotify.com/artist/7wyRA7deGRxozTyBc6QXPe'},
  'href': 'https://api.spotify.com/v1/artists/7wyRA7deGRxozTyBc6QXPe',
  'id': '7wyRA7deGRxozTyBc6QXPe',
  'name': 'Stephen Malkmus & The Jicks',
  'type': 'artist',
  'uri': 'spotify:artist:7wyRA7deGRxozTyBc6QXPe'},
 {'external_urls': {'spotify': 'https://open.spotify.com/artist/0WISkx0PwT6lYWdPqKUJY8'},
  'href': 'https://api.spotify.com/v1/artists/0WISkx0PwT6lYWdPqKUJY8',
  'id': '0WISkx0PwT6lYWdPqKUJY8',
  'name': 'Stephen Malkmus',
  'type': 'artist',
  'uri': 'spotify:artist:0WISkx0PwT6lYWdPqKUJY8'},
 {'external_urls': {'spotify': 'https://open.spotify.com/artist/7uStwCeP54Za8gXUFCf5L7'},
  'href': 'https://api.spotify.com/v1/artists/7uStwCeP54Za8gXUFCf5L7',
  'id': '7uStwCeP54Za8gXUFCf5L7',
  'name': 'The Jicks',
  'type': 'artist',
  'uri': 'spotify:artist:7uStwCeP54Za8gXUFCf5L7'}]

In [135]:
df=json_normalize(data['tracks'],sep='_',record_path='artists',meta=['id','popularity'],meta_prefix='track_')
df.loc[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

href                     https://api.spotify.com/v1/artists/7wyRA7deGRx...
id                                                  7wyRA7deGRxozTyBc6QXPe
name                                           Stephen Malkmus & The Jicks
type                                                                artist
uri                                  spotify:artist:7wyRA7deGRxozTyBc6QXPe
external_urls_spotify    https://open.spotify.com/artist/7wyRA7deGRxozT...
track_id                                            0BDYBajZydY54OTgQsH940
track_popularity                                                        21
Name: 0, dtype: object